
@model IEnumerable<POS5.Models.SaleMasterReturn>
@{
    ViewBag.Title = "Index";
    //    Layout = "~/Views/_ViewStart.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4> <b>Sale Master Return</b></h4>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered ">

            <thead>

                <tr class="table-secondary">
                    <th class="th-lg">ID</th>
                    <th class="th-lg">Date</th>
                    <th class="th-lg">Customer Name</th>
                    <th class="th-lg">Gross total</th>
                    <th class="th-lg">Received Amount</th>
                    <th class="th-lg">Net total</th>
                    <th class="th-lg">Tax</th>
                    <th class="th-lg">Disount</th>
                    <th class="th-lg">Balanced Amount</th>
                    <th class="th-lg">Comment</th>
                    <th class="th-lg">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @if (!Model.Any())
                    {
                    }
                    else
                    {
                        foreach (var lst_SaleMasterReturn in Model)
                        {
                        <tr>
                            <td>@lst_SaleMasterReturn.id</td>
                            <td>@lst_SaleMasterReturn.date</td>
                            <td>@lst_SaleMasterReturn.customerName</td>
                            <td>@lst_SaleMasterReturn.grosstotal</td>

                            <td>@lst_SaleMasterReturn.receivedamount</td>
                            <td>@lst_SaleMasterReturn.nettotal</td>
                            <td>@lst_SaleMasterReturn.tax</td>
                            <td>@lst_SaleMasterReturn.discount</td>
                            <td>@lst_SaleMasterReturn.balanceamount</td>
                            <td>@lst_SaleMasterReturn.comment</td>




                            <td class="gap-lg-2 d-md-flex justify-content-md-center">

                                <a href="@Url.Action("Edit", new { id = lst_SaleMasterReturn.id })"  class="btn btn-outline-success px-2" style='margin-right:16px'><i class="fas fa-edit"aria-hidden="true"></i> 

                                 <a href="@Url.Action("Delete", new { id = lst_SaleMasterReturn.id })" onclick="return confirm('are you sure you want to delete')" class="btn btn-outline-warning px-2"><i class="fa fa-trash"aria-hidden="true"></i>
                                    <a href="@Url.Action("Print", new { id = lst_SaleMasterReturn.id })" button class="btn btn-outline-primary px-2"><i class="fa fa-print"aria-hidden="true"></i>
                            </td>
                        </tr>

                    }
                }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-info shiny" onclick="window.location='@Url.Action("New", "SaleMasterReturn")'"><i class="btn-label glyphicon glyphicon-plus"></i>New</button>
        </div>



