@model IEnumerable<POS5.Models.Item>
@{
    ViewBag.Title = "Index";
    //    Layout = "~/Views/_ViewStart.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4> <b>New Item</b></h4>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered ">

            <thead>

                <tr class="table-warning">
                    <th class="th-lg">ID</th>
                    <th class="th-lg">Name</th>
                    <th class="th-lg">Category Name</th>
                    <th class="th-lg">Brand Name</th>
                    
                    <th class="th-lg">Stock Level</th>
                    <th class="th-lg">Price</th>
                    <th class="th-lg">Action</th>
                </tr>

            </thead>

            <tbody>

                <tr>


                    @if (!Model.Any())
                    {
                    }
                    else
                    {
                        foreach (var lst_Item in Model)
                        {
                        <tr>
                            <td>@lst_Item.id</td>
                            <td>@lst_Item.name</td>
                           
                            <td>@lst_Item.catagoryname</td>
                            <td>@lst_Item.brandname</td>
                            <td>@lst_Item.stocklevel</td>
                            <td>@lst_Item.price</td>

                            <td class="gap-lg-2 d-md-flex justify-content-md-center">

                                <a href="@Url.Action("Edit", new { id = lst_Item.id })"  class="btn btn-outline-success px-2" style='margin-right:16px'><i class="fas fa-edit"aria-hidden="true"></i> 

                                 <a href="@Url.Action("Delete", new { id = lst_Item.id })" class="btn btn-outline-warning px-2"><i class="fa fa-trash"aria-hidden="true"></i>
                            </td>
                        </tr>

                    }
                }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-info shiny" onclick="window.location='@Url.Action("New", "Item")'"><i class="btn-label glyphicon glyphicon-plus"></i>New</button>
        </div>


