@model POS5.Models.Sales
@{
    ViewBag.Title = "New";
    //   /Layout = "~/Views/_ViewStart.cshtml";
}
<h2>New Sales</h2>

@using (Html.BeginForm("Save", "Sales", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


<div class="row">




    <div class="col-sm-3">
        <b>Name</b>
        @Html.TextBoxFor(m => m.name, new { @class = "form-control input-xs" })
    </div>
    <div class="col-sm-3">
        <b>Price</b>
        @Html.TextBoxFor(m => m.price, new { @class = "form-control input-xs" })
    </div>
    <div class="col-sm-3">
        <b>Total</b>
        @Html.TextBoxFor(m => m.total, new { @class = "form-control input-xs" })
    </div>
    <div class="col-sm-3">
        <b>Date</b>
        @Html.TextBoxFor(m => m.date, new { @class = "form-control input-xs" })
    </div>
</div>






    @Html.HiddenFor(m => m.id)
    <button type="submit" class="btn btn-info shiny"><i class="btn-label glyphicon glyphicon-saved"></i>Save</button>

}








