@model IEnumerable<POS5.Models.Category>
@{
    ViewBag.Title = "Index";
    //    Layout = "~/Views/_ViewStart.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4> <b>Category</b></h4>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">

            <thead>

                <tr class="table-danger">
                    <th class="th-lg">ID</th>
                    <th class="th-lg">Name</th>
                    @*<th class="th-lg">Title</th>*@
                    <th class="th-lg">Image</th>
                    <th class="th-lg">Action</th>
                </tr>

            </thead>

            <tbody>

                <tr>
                    @if (!Model.Any())
                    {
                    }
                    else
                    {
                        foreach (var lst_Category in Model)
                        {
                <tr>
                    <td>@lst_Category.id</td>
                    <td>@lst_Category.name</td>
                    @*<td>@lst_Category.Title</td>*@
                    <td><img src=" @Url.Content(lst_Category.path)" width="80px" height="50px"/></td>

                    <td class="gap-lg-2 d-md-flex justify-content-md-center">

                        <a href="@Url.Action("Edit", new { id = lst_Category.id })" <button class="btn btn-outline-success px-2" style='margin-right:16px'><i class="fas fa-edit"aria-hidden="true"></i> </button>

                                 <a href="@Url.Action("Delete", new { id = lst_Category.id })" <button class="btn btn-outline-warning px-2"><i class="fa fa-trash"aria-hidden="true"></i></button>
                    </td>
                </tr>

                    }
                }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-info shiny" onclick="window.location='@Url.Action("New", "Category")'"><i class="btn-label glyphicon glyphicon-plus"></i>New</button>
        </div>






